services:
  nginx-config-dev-test:
    image: nginx:latest
    container_name: nginx-config-dev-test
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./web-headers.conf:/etc/nginx/web-headers.conf:ro
      - ./api-headers.conf:/etc/nginx/api-headers.conf:ro
    extra_hosts:
      - "data-norge-frontend:127.0.0.1"
      - "fdk-portal:127.0.0.1"                    # Add a mock hostname resolution
      - "fdk-resource-service:127.0.0.1"
      - "fdk-informationmodel-harvester:127.0.0.1"
      - "fdk-catalog-harvester:127.0.0.1"
      - "fdk-concept-harvester:127.0.0.1"
      - "fdk-dataset-harvester:127.0.0.1"
      - "fdk-dataservice-harvester:127.0.0.1"
      - "fdk-event-harvester:127.0.0.1"
      - "fdk-dataset-preview-service:127.0.0.1"
      - "fdk-service-harvester:127.0.0.1"
      - "fdk-public-service-harvester:127.0.0.1"
      - "fdk-search-harvester:127.0.0.1"
      - "fdk-rss-atom-feed:127.0.0.1"
      - "reference-data:127.0.0.1"
      - "dcat-ap-no-validator-gui:127.0.0.1"
      - "static-rdf-nginx:127.0.0.1"
    entrypoint: ["nginx", "-t"]                   # Test the configuration
    restart: "no"                                 # No need to restart after testing
  nginx-prod-config-test:
    image: nginx:latest
    container_name: nginx-config-prod-test
    volumes:
      - ./nginx-prod.conf:/etc/nginx/nginx.conf:ro  # Mount your custom Nginx config file
      - ./redirections.conf:/etc/nginx/redirections.conf:ro
      - ./web-headers.conf:/etc/nginx/web-headers.conf:ro
      - ./api-headers.conf:/etc/nginx/api-headers.conf:ro
    extra_hosts:
      - "data-norge-frontend:127.0.0.1"
      - "fdk-portal:127.0.0.1"                    # Add a mock hostname resolution
      - "fdk-resource-service:127.0.0.1"
      - "fdk-informationmodel-harvester:127.0.0.1"
      - "fdk-catalog-harvester:127.0.0.1"
      - "fdk-concept-harvester:127.0.0.1"
      - "fdk-dataset-harvester:127.0.0.1"
      - "fdk-dataservice-harvester:127.0.0.1"
      - "fdk-event-harvester:127.0.0.1"
      - "fdk-dataset-preview-service:127.0.0.1"
      - "fdk-service-harvester:127.0.0.1"
      - "fdk-public-service-harvester:127.0.0.1"
      - "fdk-search-harvester:127.0.0.1"
      - "fdk-rss-atom-feed:127.0.0.1"
      - "reference-data:127.0.0.1"
      - "dcat-ap-no-validator-gui:127.0.0.1"
      - "static-rdf-nginx:127.0.0.1"
    entrypoint: [ "nginx", "-t" ]                   # Test the configuration
    restart: "no"                                   # No need to restart after testing
